<h1>App metrics page</h1>

<canvas id="myChart"></canvas>


<script type="text/javascript">
    window.ctx = document.querySelector('#myChart').getContext('2d');
    window.myChart = new Chart(window.ctx, {
        type: 'line',
        plugins: [ChartDatasourcePrometheusPlugin],
        options: {
            plugins: {
                'datasource-prometheus': {
                    prometheus: {
                        endpoint: "http://localhost:3333",
                        baseURL: "/metrics",   // default value
                    },
                    query: 'sum by (job) (go_gc_duration_seconds)',
                    timeRange: {
                        type: 'relative',

                        // from 12 hours ago to now
                        start: -12 * 60 * 60 * 1000,
                        end: 0,
                    },
                },
            },
        },
    });
</script>